body {
    margin: 0;
    padding: 0;
    font-family:Helvetica, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

#cart-logo {
    padding: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#cart-logo:hover {
    box-shadow: inset 0 0 0 4px rgba(0, 0, 0, 0.1);
    border-radius: 100%;
}

.navitem, .active-navitem {
    margin-top: 200px;
    color: rgba(0, 0, 0, .5);
    font-style: bold;
    text-decoration: none;
    font-family: Arial;
    margin-left: 35px;
    padding: 10px;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 25px;
    transition: .3s ease-in;
}

.active-navitem {
    color: rgba(0, 255, 0, .9);
    font-weight: bold;
    border-bottom: 3px solid rgba(0, 255, 0, 0.5);
}

.navitem:hover {
    color: black;
    border-bottom: 2px solid rgba(0, 255, 0, 0.1);
}

.products-container {
    align-items: center;
    text-align: center;
    justify-content: center;
    align-self: center;
}

.product-outer {
    margin: 22px;
    padding: 0;
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 315px;
    height: 315px;
    margin-left: 15rem;
    margin-bottom: 10rem;
    background-color: rgba(230, 230, 230, .4);
    filter: drop-shadow(0px 4px 35px rgba(168, 172, 176, 0.19));
    border-radius: 10px;
}

.product-outer:hover {
    cursor: pointer;
}

.product-inner {
    background-color: rgba(230, 230, 230, .4);
    padding-bottom: 5px;
    align-items: center;
    align-self: center;
    justify-content: center;
    border-radius: 10px;
    transition: all 350ms ease-in;
    -webkit-transition: all 350ms ease-in;
}

.product-inner:hover {
    transition: 350ms ease-out;
    filter: drop-shadow(0px 4px 35px rgba(168, 172, 176, 1));
    background-color: rgba(200, 200, 200, .3);
    filter: brightness(85%);
    -webkit-filter: brightness(85%);
}

.product-image {
    height: 310px;
    width: 310px;
    border-radius: 10px;
    padding: 0;
    transition: all 350ms ease-in;
    -webkit-transition: all 350ms ease-in;
}

.product-image:hover {
}

.product-meta {
    text-align: left;
    margin-left: 20px;
}

.product-link {
    text-decoration: none;
    color: rgba(0, 0, 0, .7);
}

.product-name {
}

.product-price {
}

.productscreen-container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.images-container {
    display: flex;
    margin-left: 50px;
    margin-top: 50px;
}

.mini-images-container {
    display: flex;
    flex-direction: column;
     
}

.mini-image {
    width: 100px;
    height: 100px;
   box-sizing: border-box; 
}

.mini-image:hover {
    border: 2px solid rgba(0, 0, 0, .5);
    border-radius: 10%;
}

.main-image-container {
    margin-left: 100px;
    margin-top: 100px;
}

.main-image {
    width: 500px;
    max-height: 500px;
}

.information-container {
    display: flex;
    flex-direction: column;
    margin-right: 250px; 
    margin-top: 100px;
}

.information-container .product-name {
}


.attribute-container{
    display:flex;
    flex-direction: column;
}
.attribute-items{
    display: flex;
}
.attribute-item-container{
}
.attribute-item{
    display: flex;
    list-style-type: none;
    width: 50px;
    height: 35px;
    margin-right: 10px;
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-items:center;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, .3);
}

.Color{
    height: 25px;
    width: 25px;
}
.attribute-selected{
    border: 2px solid rgb(20, 20, 20);
    background-color: rgba(0, 0, 0, .9);
}


.product-buy-button{
    font-weight: bolder;

    background-color: rgb(3, 252, 107);
    width: 250px;
    height: 35px;
    transition: 500ms ease-in;
    color: rgba(255, 255, 255, 1);
}
.product-buy-button:hover{
    background-color: rgba(0, 255, 0, .9);
    transition: 150ms ease-in-out;
    font-style: oblique;
}
.product-buy-button:active{

    background-color: rgb(0, 0, 0);
}

.product-add-button{
    font-weight: bolder;
    font-size: 30px;
    display: none;
    background-color: rgba(3, 252, 181, .8);
    width: 50px;
    height: 50px;
    border: 0px solid white;
    border-radius: 100%;
    transition: 500ms ease-in;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    bottom: -8%;
    left: 80%;
    align-content: center;
    justify-content: center;
    
}
.product-add-button:hover{
    background-color: rgba(0, 255, 0, .9);
    transition: 200ms ease-out;
    font-style: oblique;

    background-color: rgba(3, 252, 181, 1);
}
.product-add-button:active{

    background-color: rgb(0, 0, 0);
}

.product-outer:hover .product-add-button {
    display: flex;
}
.product-add-cart-image{
width: 50px;
height: 50px;
align-self: center;
justify-self: center;

filter: invert();
}

